#gameContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 325px;
    height: 325px;
}

.square { 
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 100px;
    color:aliceblue
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    padding: 10px;
    margin: 10px;
}
