.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#allInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}

i {
    font-size: 100px;
}